#container {
  font-family: "Roboto";
  padding: 30px 0 30px 6%;
  max-width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
#page-path {
  color: #245e8a;
  font-size: 12px;
}
#home-text::after {
  display: inline-block;
  content: "";
  margin: 0 15px 0 4px;
  border: solid #2e2e2e;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  top: 0px;
  right: -4px;
}
#path-text::after {
  display: inline-block;
  content: "";
  margin: 0 15px 0 4px;
  border: solid #2e2e2e;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  top: 0px;
  right: -4px;
}
#container a {
  text-decoration: none;
}
#trending-lhs {
  width: 200px;
}
#main-title {
  font-size: 42px;
}
#content {
  display: flex;
  gap: 50px;
}
#trending-lhs-title {
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  padding: 3px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f5f5f5;
  line-height: 22.4px;
}
#trending-list {
  display: flex;
  flex-direction: column;
}
#trending-list > li {
  list-style-type: none;
  display: flex;
  padding: 28px 0;
  position: relative;
}
#trending-list > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.5px;
  background-color: #eaeaea;
}
#trending-list > li > div:nth-child(1) > img {
  width: 50px;
  height: auto;
  border-radius: 4px;
  margin-right: 10px;
}
#main-desc {
  font-size: 20px;
}
.trending-title {
  font-size: 14px;
  font-weight: 500;
}
.extra-trending > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.extra-trending > div:nth-child(1) > img {
  width: 12px;
}
.extra-trending > div:nth-child(1) {
  margin-bottom: 5px;
}
#trending-rhs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#article-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#article-content > p {
  line-height: 29px;
}
