* {
  margin: 0;
  padding: 0;
}
#navbar {
  font-family: "Lato", sans-serif;
  display: flex;
  background-color: #3e3e3e;
  color: white;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 6%;
  box-sizing: border-box;
}
#options {
  font-size: 13px;
}
#options > ul {
  display: flex;
  gap: 25px;
  /* padding: 5px 0; */
  height: 35px;
  align-items: center;
}
#logo {
  height: 35px;
  display: flex;
  align-items: center;
  /* padding: 5px; */
}
#options li {
  list-style-type: none;
  line-height: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}
#options li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: white;
}
#three-dots {
  cursor: default;
  font-size: 32px;
  font-weight: bold;
}
#options > ul.show {
  display: none;
}
#nav-socials {
  display: flex;
  align-items: center;
  gap: 20px;
  /* padding: 5px; */
}
#nav-socials > a > svg > path {
  fill: white;
}
#nav-socials > a:nth-child(3) > svg {
  width: 24px;
}
#nav-socials:nth-child(n + 1) {
  cursor: pointer;
}

#footer {
  background-color: #eaeaea;
  padding: 20px 6%;
  font-family: "Roboto";
  font-size: 13px;
  display: flex;
}
#footer > #lhs {
  min-width: 225px;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid #d2d2d2;
}
#footer-socials {
  display: flex;
  gap: 10px;
}
#footer-socials > a > svg {
  /* width: 25px; */
  height: 25px;
}
#footer-search > input {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
  color: #2b2b2b;
}
#footer-search {
  padding: 0 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  align-items: center;
}
#footer-search > span {
  color: #565656;
}
#footer-search > input:focus {
  outline: none;
}
#footer-logo {
  height: 25px;
  width: 125px;
}
#footer > #rhs {
  width: 100%;
  height: 2px;
  padding: 0 0 0 40px;
  box-sizing: border-box;
}

#footer li {
  list-style-type: none;
}
#rhs > ul {
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 10px 0;
  position: relative;
}
#rhs > ul::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 0.5px;
  background-color: #d2d2d2;
}
#rhs > ul:last-child::after {
  display: none;
}
#list-2 > #label {
  font-size: 12px;
  font-weight: 500;
  background-color: #2b2b2b;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
