#top {
    /* border: solid 1px black; */
    height: 150px;
    width: 80%;
    margin: auto;
  }

  #top>div {

    height: 55px;
  }
  #top>div>div {
   gap: 5px;
}

  #top>div>img {
    width: 22%;
  }

  #butt>button {
    background-color: transparent;
    border: none;
  }

 #butt {
    display: flex;
    align-items: center;
    background-color: white;
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
    height: 45px;
    width: 100px;
    border: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  #top>div {
    display: flex;
    align-items: center;
  }
  #container{
    font-family: "Roboto";
  }
  #second {
    width: 250px;
    height: 100%;
    display: flex;
  }
  #second>div{

    height: 100%;
  }
  #pid{
      margin-left: 10%;
      font-size:35px;
      color: rgb(98, 97, 97);
  }
  #last{
      width: 50%;
      margin-left: 135px;
      height: 20px;
      display: flex;
      gap: 20px;
  }
  #last>p{
      color: grey;
      font-size: 12px;
      position: relative;
  }
  #last>p:hover{
      cursor: pointer;
      color: red; 
      white-space: nowrap;   
  }
  #last>p:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: red;
  }
  #pidtwo{
      font-size:28px;
      margin-left: 10%;
  }
  #cont{
      border: solid 1px black;
      margin-left: 10%;
      width: 50%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 10px;
  }
